<div id="legacy-back-index">
    <div id="legacy-back-one">
        <div class="container back-page-content">
          <div class="row">
            <div class="col-md-12">
              <div class="start_box">
                <iframe src="<%= @course_url %>" frameborder="0" scrolling="no" onload="resizeIframe(this)" />
              </div>
            </div>
          </div>
        </div>
    </div>
</div>