.col-md-8.col-sm-8.col-xs-12
  %p.description
    Want to keep children and staff under your care from harm's way and fulfil your ethical and professional obligation? Join us to eliminate the factors that spread ongoing infection and absenteeism which can drain your child care facility's productivity.
  %p.title
    CONTRIBUTE TO THE HEALTH AND HAPPINESS OF CHILDREN AND EMPLOYEES UNDER YOUR CARE AND SUPERVISION TODAY.
  %a.btn.btn-round.item-manager{:href => upgrade_path()}
    Upgrade
.col-md-4.col-sm-4.col-xs-12
