<% content_for :page_title, "Manager Dashboard" %>
<% content_for :previous_path, root_path %>

<div id="main-menu">
    <div class="row">
        <div class="eightcol">
            <div class="menu-items">
                <%= link_to dashboard_manager_todos_path, :class => 'todos' do %>
                    <img src="http://placehold.it/100x100">
                    <span>Todos</span>
                <% end %>
                <%= link_to dashboard_manager_surveys_path, :class => 'surveys' do %>
                    <img src="http://placehold.it/100x100">
                    <span>Surveys</span>
                <% end %>
                <%= link_to trainings_path, :class => 'trainings' do %>
                    <img src="http://placehold.it/100x100">
                    <span>Trainings</span>
                <% end %>
                <%= link_to invite_manager_daycares_path, :class => 'invite' do %>
                    <img src="http://placehold.it/100x100">
                    <span>Invite</span>
                <% end %>
            </div>
        </div>
        <div class="fourcol last">

        </div>
    </div>
</div>