.panel.panel-default
  .panel-heading
    Messages
  .panel-body
    %ul.list-group.discussions
      %li.list-group-item.discussion
        %a{href: '#'} Measles
        %ul
          %li
            %small ABC Daycare
          %li
            %small you

      %li.list-group-item.discussion
        %a{href: '#'} Tooth Decay
        %ul
          %li
            %small Dentist Smith
          %li
            %small ABC Daycare
          %li
            %small you

      %li.list-group-item.discussion
        %a{href: '#'} Tooth Decay
        %ul
          %li
            %small Dentist Smith
          %li
            %small you
