.row.discussion
  .col-md-2
  .col-md-8
    %p.discussion-content
      .alert.alert-info
        New Illness Record added : #{discussion.title}
    %p.discussion-time
      %small
        %em
          = time_ago_in_words(discussion.created_at) + ' ago'

  .col-md-2
