.navbar-header
  %button.navbar-toggle.collapsed{'data-toggle': 'collapse', 'data-target': '#navbar', 'aria-expanded': false, 'aria-controls': 'navbar'}
    %span.sr-only Toggle Navigation
    %span.icon-bar
    %span.icon-bar
    %span.icon-bar
    %span.icon-bar
  - if current_user.worker?
    %a.navbar-brand{href: '#'}
      = image_tag daycare_logo(current_user.daycare), class: 'img pull-left'
      %span= current_user.daycare.name


#navbar.navbar-collapse.collapse
  - if current_user.parentee?
    = render 'parents_menu'

  - elsif current_user.worker?
    = render 'workers_menu'
