%ul.nav.navbar-nav
  %li
    = link_to '#' do
      %i.glyphicon.glyphicon-plus
      Add Child

  - current_user.children.each do |child|
    %li{class: child.id == @active_child.id ? 'active' : ''}
      = link_to '#', 'data-child_id': child.id do
        = child.name
