.form-group
  .row
    .col-md-6
      #search-child-name
        = text_field_tag 'search-child-name', '', placeholder: t('illnesses.labels.search'), class: 'form-control typeahead'
    .col-md-6
      .children-list
