.form-group
  %label.step-instruction= t('illnesses.labels.select_symptoms')
  .symptoms-list
    - @symptoms.each_pair do |code, name|
      .checkbox
        %label
          = check_box_tag 'illness[symptoms][]', code
          = name
