header
{
    height:70px;
    background-color: $blue;
    color:#fff;
    line-height: 70px;
    margin-bottom:30px;

    .tencol, .onecol
    {
        text-align: center;
    }
    .dropdown
    {
        position: relative;
        right: 0;
        background-image: image-url('menu_icons.png');
        height:22px;
        width:31px;
        margin:24px 0;
        cursor: pointer;

        &.open > ul.dropdown-menu
        {
            display: block;
        }

        ul.dropdown-menu
        {
            position: absolute;
            top: 46px;
            right: 0;
            z-index: 1000;
            display: none;
            float: right;
            min-width: 160px;
            padding: 0;
            margin: 0;
            list-style: none;
            font-size: 14px;
            background-color: #fff;
            background-clip: padding-box;

            li
            {
                padding:5px;
                height:50px;
                line-height: 40px;

                a
                {
                    height:100%;
                    width:100%;
                    color: $blue;
                }

                &:hover
                {
                    background-color: $blue;

                    a 
                    {
                        color:#fff;
                    }
                }
            }
        }
    }

    i
    {
        font-size: 1.5em;
    }

    h2
    {
        margin: 0;
    }

    a
    {
        color: #fff;

        &:hover
        {
            color: #fff;
        }

        &.previous
        {
            display: block;
            height: 62px;
            margin: 9px 0;
            text-decoration: none;

            img 
            {
                width:19px;
                height:31px;
            }
        }
    }
}