<% content_for :page_title, "Edit Survey" %>
<% content_for :previous_path, manager_survey_path(@survey) %>

<div class="row">
    <div class="twelvecol">
        <%= render 'form' %>
    </div>
</div>

