<% content_for :page_title, "Surveys" %>
<% content_for :previous_path, dashboard_manager_surveys_path %>

<div class="row">
    <div class="twelvecol">
        <ol>
            <% @surveys.each do |survey| %>
                <li>
                    <h3><%= survey.name.titleize %></h3>
                    <%= link_to 'Edit', edit_manager_survey_path(survey), :class => 'btn btn-normal btn-green' %>
                </li>
            <% end %>
        </ol>
    </div>
</div>