<% content_for :page_title, "New Survey" %>
<% content_for :previous_path, manager_subject_path(@subject) %>

<div class="row">
    <div class="twelvecol">
        <%= render partial: 'form', locals: { url: manager_subject_surveys_path } %>
    </div>
</div>
