a:link {
  text-decoration: none;

  &.hcc-simple {
    &:hover {
      border-bottom: 2px solid $hcc-red;
    }
  }


}

button {
  &.hcc-btn {
    border: 2px solid white;
    @include hcc-red-gradient;
    @include border-radius(20px);

    a {
      color: white;
    }

    &:hover {
      @include hcc-hover;
    }
  }
}

.centralize {
  text-align: center;
}