.reg-daycare-container.page-boxed
  .page-header
  .container
    .form-content        
      #rootwizard
        %ul{:style=> "visibility: hidden; height: 0; position:absolute;"}
          %li
            %a{"data-toggle" => "tab", :href => "#tab1"} First
        .tab-content
          #tab1.tab-pane
            = render 'pane_search'
          .col-sm-6
            %ul.pager.wizard.text-left
              %li.next
                %button.btn.btn-round.item-parent{:type => "button"} 
                  Next
              %li.previous.first{:style => "display:none;"}
                %a{:href => "#"} First
              %li.previous{:style => "display:none;"}
                %a{:href => "#"} Previous
              %li.next.last{:style => "display:none;"}
                %a{:href => "#"} Last

:javascript
  jQuery(document).ready(function() {    
    $('#footer_logo_image').attr("src","/assets/logo-blue.png");
    $('#rootwizard').bootstrapWizard({'tabClass': 'nav nav-pills'}); 
    $('.next button').click(function(){
      var tab_id = $('.tab-pane.active').attr('id');
      if(tab_id == "tab1"){
        window.location.href = $('input[name=daycare_item]:checked' ,'.msg_list').attr('select-link');
      } else if(tab_id == "tab2") {
        $(this).html("Choose");
        $(this).hide();
      }
    });
  });
