.row.multi-step-form
  .col-md-2.form-step{class: progress_bar_step(page_step, 1)}
    .progress-bar-step.text-center
      - if page_step > 1
        %button.btn.btn-fab.btn-fab-mini.btn-success
          %i.material-icons grade
      - else
        %button.btn.btn-fab.btn-fab-mini
          1

    .progress
      .progress-bar

  .col-md-2.form-step{class: progress_bar_step(page_step, 2)}
    .progress-bar-step.text-center
      - if page_step > 2
        %button.btn.btn-fab.btn-fab-mini.btn-success
          %i.material-icons grade
      - else
        %button.btn.btn-fab.btn-fab-mini
          2
    .progress
      .progress-bar

  .col-md-2.form-step{class: progress_bar_step(page_step, 3)}
    .progress-bar-step.text-center
      - if page_step > 3
        %button.btn.btn-fab.btn-fab-mini.btn-success
          %i.material-icons grade
      - else
        %button.btn.btn-fab.btn-fab-mini
          3
    .progress
      .progress-bar

  .col-md-2.form-step{class: progress_bar_step(page_step, 4)}
    .progress-bar-step.text-center
      - if page_step > 4
        %button.btn.btn-fab.btn-fab-mini.btn-success
          %i.material-icons grade
      - else
        %button.btn.btn-fab.btn-fab-mini
          4
    .progress
      .progress-bar

  .col-md-2.form-step{class: progress_bar_step(page_step, 5)}
    .progress-bar-step.text-center
      - if page_step > 5
        %button.btn.btn-fab.btn-fab-mini.btn-success
          %i.material-icons grade
      - else
        %button.btn.btn-fab.btn-fab-mini
          5
    .progress
      .progress-bar
