= content_for :title, 'Edit Message Template'
= content_for :breadcrumb, 'Edit'
- breadcrumb_add 'Templates', admin_message_templates_path

.twelvecol
  .page-header
    %h2.widget.widget-header Edit Message Template

  = render 'form'
