= content_for :title, 'New Template'
- page_step = 5

.row
  .page-header
    %h3= add_template_content_header

.row
  = render partial: 'progress_bar', locals: {page_step: page_step}

.row#main-content
  = render 'form'
