.row.message
  .row.message-info
    .col-md-4
      %span Recipient :
      %span= message.target_roles.map(&:humanize).join(', ')

    .col-md-4.sent-date
      = pretty_message_date(message.created_at)

    .col-md-4
      %span.pull-right Print

  %hr
  .message-content-stage.truncate
    .fr-view
      = message.content.html_safe
