.row.message
  .row.message-info
    .col-md-4
      %span Recipient :
      %span= message.target_role.humanize

    .col-md-4.sent-date
      = pretty_sent_date(message.created_at)

    .col-md-4
      %span.pull-right Share or print

  %hr
  .message-content-stage
    .fr-view
      = message.content.html_safe

:javascript
  healthChildcare.message.minimizeMessages();
