= content_for :title, 'Sent Messages'

.row
  .page-header
    %h3= t('messages.basic_filter')

.container-fluid.message-filters
  = render 'filters'

.row.message-list
  = render '/messages/message_list'

:javascript
  $(function() {
    $('#start_date').datetimepicker({
      format: 'd/m/Y',
      timepicker: false
    });
  });

  $(function() {
    $('#end_date').datetimepicker({
      format: 'd/m/Y',
      timepicker: false
    });
  });

  $('#apply-message-filters').on('click', function() {
    var startDate = $('#start_date').val();
    var endDate = $('#end_date').val();
    var targetRole = $('#target_role').val();

    $.ajax({
      url: '/admin/messages/',
      type: 'GET',
      data: {start_date: startDate, end_date: endDate, target_role: targetRole},
      success: function(data) {
        $('.message-list').html(data);
      }
    });
  });
