%footer.normal
  .row.text-center.contact-info
    %h3= t('footer.contact_us')
    %p Stasjonsveien 23B
    %p 2010 STROMMEN Norway
    %p
      = link_to 'infectionpreventivecare@healthierandsaferchildcare.org', 'mailto:infectionpreventivecare@healthierandsaferchildcare.org'
    %p +47 467 47 016
