%footer.normal
  .container
    .row
      .col-md-12.central-footer.text-center
        = image_tag 'logo.png', id: "footer_logo_image"
        %p= t('footer.hcc')
        %p &copy; 2016
    .row.text-center.contact-info
      %h3= t('footer.contact_us')
      %p Stasjonsveien 23B
      %p 2010 STROMMEN Norway
      %p
        = link_to 'infectionpreventivecare@healthierandsaferchildcare.org', 'mailto:infectionpreventivecare@healthierandsaferchildcare.org'
      %p +47 467 47 016
