<h2>Please select your role to get started:</h2>

<%= link_to 'Parent', new_user_registration_path(role: 'parentee') %><br><br>
<%= link_to 'Worker', new_user_registration_path(role: 'worker') %><br><br>
<%= link_to 'Manager', new_user_registration_path(role: 'manager') %><br><br>