.panel.panel-default
  .panel-heading
    Collaborators
  .panel-body
    %ul.list-group.collaborators
      %li.list-group-item.collaborator
        = image_tag 'childcare-logo-04.png', class: 'img'
        ABC Daycare
      %li.list-group-item
        %button.btn.btn-success.btn-raised
          %i.glyphicon.glyphicon-plus
          Invite
