<div id="legacy-result">
    <div class="container">
      <div class="row back-page">
            <%= render 'group' %>
            <div class="col-md-8 col-sm-8 col-xs-12 logo-back">
                <%= render 'subjects' %>
                <div id="progress_charts_partial" class="wrap">
                  <%= render partial: 'survey_subjects/progress_charts', locals: { trend: @trend } %>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
  // Load the Visualization API and the corechart package.
  google.charts.load('current', {'packages':['corechart']});
</script>
