.panel.panel-default
  .panel-body
    %ul.list-group.collaborators
      - @active_child.collaborators.each do |child_collaborator|
        - next if child_collaborator.collaborator == current_user
        %li.list-group-item.collaborator
          - if child_collaborator.collaborator.kind_of?(Department)
            = image_tag daycare_logo(child_collaborator.collaborator.daycare), class: 'img'
          - elsif child_collaborator.collaborator.kind_of?(User) && child_collaborator.collaborator.medical_professional?
            = image_tag child_collaborator.collaborator.user_profile.profile_image.file.url
          - else
            = image_tag 'admin_prof_img.jpg', class: 'img'
          %p= child_collaborator.collaborator.name
