#discussions {
  .top-menu {
    color: black;

    img {
      height: 40px;
    }
  }

  .discussion-box {
    background: white;

    .discussions {
      max-height: 500px;
      overflow: auto;
    }

    img {
      height: 100px;
    }

    .discussion {
      text-align: center
    }

    .comment {
      .comment-owner, .comment-time {
        text-align: center;
      }

      textarea {
        height: 100px;
        width: 100%;
      }
    }

  }

  .side-menu {
    li {
      padding: 10px;
      text-align: center;
      border-bottom: 1px solid #ccc;

      img {
        height: 100px;
      }
    }


  }

}