- SurveySubject.where(language: I18n.locale.upcase).each do |subject |
  .survey-subject
    .radio-box
      %input.retake-radio{:type=>"radio", :name => "subject_id", :id => "radio#{subject.id}", :style => "display: none;", value: subject.id}
      %label{:for => "radio#{subject.id}"}
        = image_tag subject.icon.file.thumb, class: 'img' unless subject.icon.nil?
      .row.survey-title
        %span= subject.title
