/*
 *= require_self
 *= require soca
*/
.form-coupling
{
    overflow: hidden;

    input[type=text]
    {
        float:left;
        width:9%;
        margin-right: 1%;
    }
    select
    {
        float:left;
        width:90%;
    }
}
.frequency-fields
{
    display: none;

    .open
    {
        display: block;
    }
}
.field
{
    overflow: hidden;

    a
    {
        margin-top: 15px;
        float:right;

    }
}
.form-action 
{
    padding:15px;
    background-color:rgba(208,208,208,0.5);
    overflow: hidden;
    margin-bottom: 20px;
        input, a
        {
            float:right;
            margin-left:7px;
        }
}
#questions
{
    ol.options
    {
        + input + a
        {
            margin-left:15px;
        }

        li
        {
            overflow: hidden;
        }
    }
}