header
{
    padding: 15px;
    margin: 0 auto;
    overflow: hidden;
    height:150px;
    max-width: 1170px;

    &.loggedin
    {
        background-color: #365ebf;

        a
        {
            background-color: #48c38c !important;

            &:hover
            {

            }
        }
        ul
        { 
            display: none;
        }
    }

    #user
    {
        color: #fff;
        float: right;
        margin-top: 5px;

        img
        {
            margin-right: 7px;
        }
    }

    #header-logo
    {
        height:120px;
        float:left;
    }
    #menu, ul
    {
        float:right;
    }
    ul
    {
        list-style-type: none;
        line-height: 120px;
        margin:0;

        li
        {
            display: inline-block;
            margin-left:25px;
        }
    }

    #menu
    {
        margin-left: 40px;
        a
        {
            display: block;
            padding:7px 15px;
            background-color: #365ebf;
            color: #fff;
            text-align: center;
            font-size:1.1em;
            margin-bottom: 10px;

            &:hover
            {
                color:#fff;
                text-decoration: none;
            }

            &:last-child
            {
                margin-bottom:0;
            }
        }
    }

    #countdown
    {
        float:left;
        margin:13px 0 0 70px;
        color:#fff;

        #clock
        {
            div
            {   
                display: inline-block;
                text-align: center;

                div
                {
                    padding: 5px;
                    border: 1px solid #fff;
                    height:50px;
                    width:50px;
                    line-height:40px;
                    // text-align: center;
                    font-size:1.3em;
                    font-weight: bold;
                    margin-right:10px;

                    &:last-child
                    {
                        margin-right: 0px;
                    }
                }
                span
                {
                    margin-top:5px;
                    display: block;
                    font-size:0.8em;
                }
            }
        }
    }
}