/*
 *= require_self
 *= require header
*/

@import "compass/css3";

$hcc-red: #fc636b;
$hcc-pink: #ff6d92;
$hcc-orange: #ffb900;
$hcc-blue: #4186e0;
$hcc-light-blue: #7fe6e2;

// linear-gradient(to top right, #fc636b, #ff6d92 35%, #ffb900 100%)

@mixin hcc-gradient {
  background: $hcc-red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, $hcc-red , $hcc-orange); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, $hcc-red, $hcc-orange); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, $hcc-red, $hcc-orange); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, $hcc-red , $hcc-orange); /* Standard syntax */
  color: white;
}

@mixin hcc-hover {
  border: 2px solid #ffce4c;
}

a:link {
  text-decoration: none;

  &.hcc-simple {
    &:hover {
      border-bottom: 2px solid $hcc-red;
    }
  }

}

button {
  &.hcc-btn {
    border: 2px solid white;
    @include hcc-gradient;
    @include border-radius(20px);

    &:hover {
      @include hcc-hover;
    }
  }
}

.header {
  i {
    padding-left: 5px;
    font-size: large;
  }
}
.promo {
  margin-top: -15px;

  .promo-img {
    position: relative;

    img {
      width: 100%;
    }

    .promo-text {
      position: absolute;
      top: 2%;
      padding: 40px;
      width: 50%;
      font-size: 20px;
      font-weight: 400;

      .divider {
        height: 2px;
        margin: 20px 0;
        @include hcc-gradient;
      }
    }
  }
}

.step-navs-horizontal {
  padding: 10px;
  text-align: center;
  @include border-radius(30px);
  @include hcc-gradient;
  margin: 20px;


  a {
    color: white;

    &:hover {
      color: $hcc-light-blue;

      i {
        background: $hcc-light-blue;
      }
    }

    i {
      color: $hcc-pink;
      background: white;
      padding: 1px;
      border-radius: 50%;
      margin-right: 16px;
      width: 30px;
      height: 30px;
      text-align: center;
      font-size: 26px;
    }
  }

}

.step-contents {
  padding: 20px;

  .step-content {
    display: none;
  }

  .heading {
    color: $hcc-pink;
  }

}

footer {
  padding: 40px 0;
  background: black;
  color: white;

  a {
    color: white;
  }

  ul {
    li {
      list-style-type: none;
      padding: 5px 0;
      font-size: small;
    }
  }

  .left-footer {

  }

  .central-footer {
    text-align: center;

    img {
      margin: 10px;
      height: 120px;
    }
  }

  .right-footer {
    padding-left: 10px;
    text-transform: uppercase;
  }
}