/*
 *= require_self
 *= require bootstrap-material-design/dist/css/bootstrap-material-design.css
 *= require bootstrap-material-design/dist/css/ripples.min.css
 *= require froala_editor.min.css
 *= require froala_style.min.css
 *= require plugins/colors.min.css
 *= require plugins/draggable.min.css
 *= require plugins/file.min.css
 *= require plugins/image_manager.min.css
 *= require plugins/image.min.css
 *= require plugins/quick_insert.min.css
 *= require jquery.dropdown.css
 *= require jquery.datetimepicker
 *= require slick-carousel/slick/slick.css
 *= require slick-carousel/slick/slick-theme.css
*/

@import 'compass/css3';

$grey: #d5d5de;
$darker-grey: #ccc;
$header-blue: #296BD1;
$info-blue: #03a9f4;
$sky-blue: #6fd1fd;
$info-green: #4caf50;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}


body {
  background-color: white !important;
  color: #ABABB2;

  .main {
    .centralize {
      text-align: center;
    }

    .step-instruction {
      color: $info-blue;
    }

    .form-buttons {
      text-align: center;

      a, input {
        width: 95%;
      }
    }

    .message {
      margin-bottom: 25px;

      .message-info {
        .message-date {
          text-align: center;
        }
      }
      hr {
        border-color: $grey;
      }
    }

    .message-content-stage {
      background: white;
      padding: 10px 25px;
      color: black;
    }

    .message-filters {
      border: 2px solid $grey;
      margin-bottom: 30px;
      @include border-radius(2px);
    }

    .message-list{
      nav {
        text-align: center;
      }
    }
  }




  #main-content {
    margin-top: 20px;
  }

  #main-menu {
    margin-top: 20px;

    .menu-items {
      a {
        width: 45%;
        height: 250px;
        background: white;
        padding-top: 25px;
        box-shadow:0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        img {
          height: 160px;
          width: 160px;
        }

        span {
          height: 40px;
          position: absolute;
          bottom: 0;
          width: 100%;
          left: 0;
        }
      }
    }
  }

  form {
    .dropdownjs {
      ul {
        color: black;

        li.disabled {
          color: $grey;
        }
      }
    }

    .checkbox {
      background: $grey;
      border: 1px solid $darker-grey;
      color: black;

      label {
        color: black !important;
        width: 25%;
        padding: 5px;
        background: $sky-blue;
      }
      .recipient-count {
        margin-left: 20px;
        display: none;
      }
    }
    .partners-list {
      margin-top: 30px;

      .list {
        max-height: 300px;
        overflow: auto;
      }
    }
    .partner-message-content {
      padding-left: 0px;
    }
  }

}

.header {
  padding: 15px;
  background: $header-blue;
  color: white;

  .user-avatar {
    float: left;

    img {
      height: 35px;
    }
  }

  .user-home {
    img {
      height: 35px;
    }
  }

  .user-info {
    line-height: 15px;
    float: left;
    padding-left: 10px;
  }
}

.multi-step-form {
  .form-step {
    padding: 0px;
    position: relative;

    button {
      z-index: 100;
    }

    &:first-child {
      .progress {
        left: 50%;
        width: 50%;
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
      }

      &.active {
        .progress {
          .progress-bar {
            width: 0%;
          }
        }
      }
    }

    &:last-child {
      .progress {
        width: 50%;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
      }

      &.active {
        .progress {
          .progress-bar {
            width: 100%;
          }
        }
      }
    }

    .progress {
      position: relative;
      border-radius: 0px;
      height: 4px;
      box-shadow: none;
      margin-top: -5px;

      .progress-bar {
        width:  0px;
        box-shadow: none;
        background: $info-green;
      }
    }

    &.complete {
      .progress {
        .progress-bar {
          width: 100%;
        }
      }
    }

    &.active {
      button {
        background: $info-blue;
      }

      .progress {
        .progress-bar {
          width: 50%;
        }
      }
    }
  }

}


.edit-filters {
  -webkit-box-shadow: 2px 2px 7px 0px rgba(219,216,219,0.58);
  -moz-box-shadow: 2px 2px 7px 0px rgba(219,216,219,0.58);
  box-shadow: 2px 2px 7px 0px rgba(219,216,219,0.58);
  background: #F4F4F4;
  @include border-radius(10px);

  #subject-filters, #sub-subject-filters, #target-role-filters {
    padding: 10px;

    ul {
      li {
        list-style: none;
        padding: 10px;
        margin-bottom: 2px;
        cursor: pointer;

        &.active {
          background: white;

          .loader {
            display: inline;
          }
        }

        &:hover {
          background: white;
        }

        .loader {
          float: right;
          display: none;
        }
      }

    }

  }

}
