<% content_for :page_title, "Invite" %>
<% content_for :previous_path, dashboard_path %>

<div class="row">
    <div class="twelvecol">
        <%= form_tag send_invites_manager_daycares_path do %>
            <div class="form-group">
                <%= label_tag :emails %>
                <%= text_field_tag :emails, params[:emails], :class => 'tagsinput form-control' %>
            </div>
            <%= submit_tag "Send Invites", :class => 'btn btn-blue btn-normal' %>
        <% end %>
    </div>
</div>