.reg-manager-container.page-boxed
  .page-header
  .container
    .form-content           
      #rootwizard
        %ul{:style=> "visibility: hidden; height: 0; position:absolute;"}
          %li
            %a{"data-toggle" => "tab", :href => "#tab1"} First
          %li
            %a{"data-toggle" => "tab", :href => "#tab2"} Second
        = form_for @daycare, url: daycare_registration_path, html: { method: :post} do |daycare|        
          .tab-content
            #tab1.tab-pane
              = render 'pane_manager_info', daycare: daycare
            #tab2.tab-pane
              = render 'pane_manager_depart', daycare: daycare
            .col-sm-6
              %ul.pager.wizard.text-left
                %li.next
                  %button.btn.btn-round.item-worker{:type => "button"} 
                    Next
                %li.previous.first{:style => "display:none;"}
                  %a{:href => "#"} First
                %li.previous{:style => "display:none;"}
                  %a{:href => "#"} Previous
                %li.next.last{:style => "display:none;"}
                  %a{:href => "#"} Last
:javascript
  jQuery(document).ready(function() {    
    $('#footer_logo_image').attr("src","/assets/logo-red.png");  
    $('#rootwizard').bootstrapWizard({'tabClass': 'nav nav-pills'}); 
    $('.next button').click(function(){
      var tab_id = $('.tab-pane.active').attr('id');
      if(tab_id == "tab1"){
        $(this).html("Reigster");
      } else if(tab_id == "tab2") {
        $('form').submit();
      }
    });
  });
