<div class="fields">
    <div class="form-group">
        <%= f.label :name %><br />
        <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%= link_to_remove_fields "Remove", f %>
</div>