.row.text-center.step-banner
  = image_tag 'manager-md.png'
  %h4 Daycare Manager
.row.pane-container.text-center
  .row
    = image_tag 'manager-bar-1.png'
.row.pane-search-result.text-center
  %h3.complete-title.item-worker CONGRATULATIONS!
  %h5.compelet-message You have now created your DayCare Profile.
.row.pane-invite.text-center
  %h3 Now, Invite other Daycare?
  .col-sm-6.text-right
    %button.btn.btn-round.item-worker{:type => "button"} 
      Yes
  .col-sm-6.text-left
    %button.btn.btn-round.item-worker{:type => "button"} 
      No
.parent-congratulation
